<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <title>业务报名系统-BusinessRegistration</title>
    <link rel="stylesheet" href="<%= BASE_URL %>/vue/element-ui@2.12.0.css" />
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="<%= BASE_URL %>/vue/vue.min@2.5.22.js"></script>
    <script src="<%= BASE_URL %>/vue/vue-router.min@3.0.6.js"></script>
    <script src="<%= BASE_URL %>/vue/vuex.min@3.1.0.js"></script>
    <script src="<%= BASE_URL %>/vue/element-ui@2.12.0.js"></script>
    <script src="<%= BASE_URL %>/vue/axios.min@0.18.0.js"></script>
    <script src="<%= BASE_URL %>/rsa/jsencrypt.min3.0.0-rc.1.js"></script>
    <script src="<%= BASE_URL %>/echarts/echarts.min.js"></script>
    <script src="<%= BASE_URL %>/echarts/diy.js"></script>
  </body>
</html>
